<mat-card>
    <mat-action-list>
       <div mat-subheader>Menu</div>
       <button mat-list-item routerLink="/admin/">
        <mat-icon mat-list-icon>home</mat-icon>Home
       </button>
       <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon><span class="material-symbols-outlined">
            account_circle
            </span></mat-icon> profile
       </button>
       <button mat-list-item routerLink="/admin/categories">
        <mat-icon mat-list-icon><span class="material-symbols-outlined">
            add_shopping_cart
            </span></mat-icon> Categories
       </button>
       <button mat-list-item routerLink="/admin/add-category">
        <mat-icon mat-list-icon><span class="material-symbols-outlined">
            add_circle_outline
            </span></mat-icon> Add Categories
       </button>
       <button mat-list-item routerLink="/admin/quizzes">
        <mat-icon mat-list-icon><span class="material-symbols-outlined">
            quiz
            </span></mat-icon> Quizzes
       </button>
       <button mat-list-item routerLink="/admin/add-quiz">
        <mat-icon mat-list-icon><span class="material-symbols-outlined">
            add_quiz
            </span></mat-icon> AddQuizzes
       </button>

       <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon><span class="material-symbols-outlined">
            logout
            </span></mat-icon> Logout
       </button>


    </mat-action-list>
</mat-card>
