
<app-navbar></app-navbar>
<!--<div class="container" >
<h1 >welcome to angular</h1>


  </div>

<hr>
<hr>
  <div class="bootstrap-wrapper" >
    <div class="container" >
      <h1 >Form</h1>
      
      
        </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>First side</h1><br>
          <button mat-raised-button color="accent">Accent</button>
        </div>
        <div class="col-md-4">
          <h1>Second side</h1>
        <br>
        <button mat-raised-button color="accent">Accent</button>
      </div>
        
    </div>
  </div>
</div>-->
<router-outlet></router-outlet>
